#login {
    max-width: 496px;
    margin: auto;
    .btn-link {
        color: #6309FF;
        padding: 0.5rem 0;
        &:focus {
            border: 0;
            box-shadow: none;
        }
    }
    button {
        width: 100%;
        color: white;
        background: #6309FF;
        height: 3rem;
        &:hover {
            opacity: 0.8;
        }
    }
}
.form-control {
    height: 46px;
    font-family: 'Alliance No.1';
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.2px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}
.form-control.btn {
    border: 0;
    border-radius: 0.5rem;
}
#login .password span {
    font-size: 20px;
}
#verifyEmail .btn.bg-blue {
    background: #6309FF;
}
#verifyEmail .btn.bg-blue:focus {
    opacity: 0.8;
}
#verifyEmail .btn.bg-white {
    color: #6309FF;
    border: 2px solid #6309FF;
}
#verifyEmail .btn.bg-white:focus {
    background: #6309FF!important;
    color: #fff;
    opacity: 0.8;
}
#register {
    max-width: 400px;
    margin: auto;
    .opt {
        font-size: 16px;
        line-height: 237%;
        letter-spacing: -0.4px;
        cursor: pointer;
        &.active {
            color:#6309FF ;
        }
    }
    .container {
        margin-top: 36px;
    }
}