@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fonts/Alliance-No-1-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Alliance No.1 SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fonts/Alliance-No-1-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Alliance No.1 ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fonts/Alliance-No-1-ExtraBold.otf") format("opentype");
}

body,
html {
  font-family: "Alliance No.1" !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #0a060e;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

h1 {
  font-family: "Alliance No.1 ExtraBold"!important;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.4px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
p {
  font-size: 1rem;
}
p.intro {
  margin: 12px 0 0;
  line-height: 1.5rem;
}
a {
  color: #608dfd;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  letter-spacing: 0.3px;
}
a:hover,
a:focus {
  text-decoration: none !important;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

.form-control {
  padding: 0.5rem 0.75rem;
  height: 3rem;
  width: 24rem;
  border-radius: 0.5rem !important;
  border-color: #0a060e !important;
}
.color-blue {
  color: #6309ff;
}
.color-white {
  color: #fff;
}
form .form-group {
  margin-bottom: 2rem;
}
form .form-group p {
  word-break: break-all;
}
.dropdown-toggle::after {
  display: none !important;
}
.btn.form-control.btn-primary {
  background-color: #6309ff!important;
  font-family: "Alliance No.1";
}
.bg-blue,
.btn-primary.bg-blue {
  background-color: #6309ff;
  font-family: "Alliance No.1";
}
.btn-primary.bg-blue:hover,
.btn-primary.bg-blue:focus,
.btn-primary.bg-blue:active,
.btn-primary.bg-blue:active:focus,
.btn-primary.bg-blue:visited {
  background-color: #6309ff;
  opacity: 0.8;
}
.btn:disabled:hover {
  opacity: 0.65;
}
.bg-white.btn-primary.btn {
  color: #6309ff;
  border: 2px solid #6309ff;
}
.btn-primary.bg-white:hover {
  background-color: #6309ff !important;
  color: #fff;
}
.btn-primary.bg-white:focus,
.btn-primary.bg-white:active,
.btn-primary.bg-white:active:focus,
.btn-primary.bg-white:visited {
  background-color: #6309ff !important;
  color: #fff;
  opacity: 0.8;
}
.bg-white {
  background-color: #fff;
}
.dropdown-menu {
  padding: 16px!important;
}
.dropdown-item {
  padding: 16px!important;
  font-weight: 600;
  font-size: 14px!important;
  line-height: 200%;
  letter-spacing: 0.2px;
}
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active,
.dropdown-item:active {
  background-color: white !important;
  font-family: "Alliance No.1";
  color: #0a060e !important;
  border-radius: 10px;
  box-shadow: inset 0px 0px 14px rgba(99, 9, 255, 0.05);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

@media screen and (max-width: 768px) {
  form .form-group {
    margin-bottom: 1rem !important;
  }
}