@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fonts/Alliance-No-1-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Alliance No.1 SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fonts/Alliance-No-1-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Alliance No.1 ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fonts/Alliance-No-1-ExtraBold.otf") format("opentype");
}

body,
html {
  font-family: "Alliance No.1" !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #0a060e;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

h1 {
  font-family: "Alliance No.1 ExtraBold"!important;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.4px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
p {
  font-size: 1rem;
}
p.intro {
  margin: 12px 0 0;
  line-height: 1.5rem;
}
a {
  color: #608dfd;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  letter-spacing: 0.3px;
}
a:hover,
a:focus {
  text-decoration: none !important;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

.form-control {
  padding: 0.5rem 0.75rem;
  height: 3rem;
  width: 24rem;
  border-radius: 0.5rem !important;
  border-color: #0a060e !important;
}
.v-center {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.color-blue {
  color: #6309ff;
}
.color-white {
  color: #fff;
}
form .form-group {
  margin-bottom: 2rem;
}
.dropdown-toggle::after {
  display: none !important;
}
.btn.form-control.btn-primary {
  background-color: #6309ff!important;
  font-family: "Alliance No.1";
}
.bg-blue,
.btn-primary.bg-blue {
  background-color: #6309ff;
  font-family: "Alliance No.1";
}
.btn-primary.bg-blue:hover,
.btn-primary.bg-blue:focus,
.btn-primary.bg-blue:active,
.btn-primary.bg-blue:active:focus,
.btn-primary.bg-blue:visited {
  background-color: #6309ff;
  opacity: 0.8;
}
.bg-white.btn-primary.btn {
  color: #6309ff;
  border: 2px solid #6309ff;
}
.btn-primary.bg-white:hover {
  background-color: #6309ff !important;
  color: #fff;
}
.btn-primary.bg-white:focus,
.btn-primary.bg-white:active,
.btn-primary.bg-white:active:focus,
.btn-primary.bg-white:visited {
  background-color: #6309ff !important;
  color: #fff;
  opacity: 0.8;
}
.bg-white {
  background-color: #fff;
}
.page-title h2 {
  font-family: "Alliance No.1";
  font-weight: 600;
  font-size: 24px;
  text-transform: none;
  color: #0a060e;
}
.page-title .close {
  opacity: 1;
  font-weight: 600;
  font-size: 24px;
  text-transform: none;
  color: #0a060e;
}
/* Navigation */
#menu {
  padding: 1rem;
  transition: all 0.8s;
  height: 6rem;
  opacity: 0.9;
  background-color: #fff;
  backdrop-filter: blur(1.5rem);
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: normal;
  letter-spacing: 0.3px;
  font-weight: 600;
}
#menu .container {
  display: flex;
  justify-content: space-between;
}
#menu.navbar-default {
  background-color: #fff;
}
#menu a.navbar-brand {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  color: #333;
  display: flex;
}
#menu a.navbar-brand .app-logo {
  height: 36px;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #555;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 0.125rem;
  border-radius: 0;
  margin: 0.5rem 1.25rem 0;
}

#menu #avatar {
  width: 2.5rem;
  height: 2.5rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 4.5px;
  border-radius: 50%;
  border: 0;
}
#menu .dropdown .btn-primary {
  background-color: #6309ff;
  font-family: "Alliance No.1";
}
.dropdown-menu {
  padding: 16px!important;
}
.dropdown-item {
  padding: 16px!important;
  font-weight: 600;
  font-size: 14px!important;
  line-height: 200%;
  letter-spacing: 0.2px;
}
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active,
.dropdown-item:active {
  background-color: white !important;
  font-family: "Alliance No.1";
  color: #0a060e !important;
  border-radius: 10px;
  box-shadow: inset 0px 0px 14px rgba(99, 9, 255, 0.05);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  color: #fff !important;
  background-color: #6309ff !important;
  padding: 0.5px 2rem !important;
  margin: 0;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 1.125rem !important;
  line-height: 2rem !important;
  height: 3rem !important;
  letter-spacing: 0.3px !important;
  border-radius: 0.5rem !important;
  border: 0 !important;
}
.btn-custom:hover {
  opacity: 0.8 !important;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* welcome Section */
#welcome {
  background: url("../img/welcome_bg.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-top: 72px;
  height: 36.44vw;
}
.intro {
  display: table;
  width: 100%;
  padding: 0;
}

.intro p {
  width: 55vw;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
  text-align: center;
  margin: auto;
  letter-spacing: 0.1px;
}
#welcome .intro-text {
  padding-top: 10rem;
  text-align: center;
}

#welcome .intro-text h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.25rem;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
}
/* job Section */
#job {
  padding: 4% 0;
  font-family: "Alliance No.1";
  background: url('../img/job_list_bg.png') no-repeat linear-gradient(to right, white 50%, transparent 50%) no-repeat;
  background-position: bottom center, center left;
  background-size: cover, 60%;
}
#job .title {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.2px;
}

#job .section-option .opt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #0a060e;
  cursor: pointer;
  font-family: "Alliance No.1";
}
#job .section-option .opt.active {
  color: #6309ff;
  font-family: "Alliance No.1";
}
#job .section-content .input-group {
  height: 3rem;
  border: 1px solid #6309ff;
  border-radius: 0.5rem;
  margin: auto;
}
#job .section-content .input-group .form-control {
  height: 100%;
  border: 0;
  color: #0a060e;
}
#job .section-content .input-group .form-control:focus,
#job .section-content .input-group .input-group-append .btn:focus {
  box-shadow: none;
}
#job .section-content .referal-link {
  margin-top: 64px;
}
#job .section-content .form-control.referal-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.3px;
}
#job .section-details p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #0a060e;
}
#job .job-status {
  width: 288px;
}

/* About Section */
#about {
  padding: 100px 0;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  line-height: 24px;
  margin: 30px 0;
}
/* Services Section */
#services {
  padding: 100px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: #fff;
}
#services .service-desc {
  margin: 10px 10px 20px;
}
#services h2 {
  color: #fff;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#services p {
  color: rgba(255, 255, 255, 0.75);
}
#services .service-desc {
  margin-bottom: 40px;
}
/* Portfolio Section */
#portfolio {
  padding: 100px 0;
}
.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0%,
    rgba(92, 169, 251, 0.8) 100%
  );
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}
/* Testimonials Section */
#testimonials {
  padding: 100px 0;
  background: #f6f6f6;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
/* Team Section */
#profile .container,
#login .container,
#register .container {
  background: linear-gradient(359.93deg, #FFFFFF 10.95%, #FCFBFF 121.59%);
  border: 1px solid #EEEEEE;
  box-shadow: 0px 23px 35px -12px rgba(31, 6, 87, 0.08);
  border-radius: 10px;
  padding: 32px 16px 24px;
}
/* Contact Section */
#subscribe {
  padding: 5% 0;
  background-size: 100%;
}

label {
  font-size: 12px;
  font-weight: 400;
  float: left;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}

/* Footer Section*/
#footer {
  background: #fff;
  height: 72px;
  opacity: 0.8;
}
#footer p {
  color: #0a060e;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0.2px;
}
#footer p.address {
  font-size: 14px;
  line-height: 17px;
}

#intro .human-about {
  background: url("../img/human_about_gb.png"), url('../img/dots.png'), url('../img/bottom_dots.png');
  background-size: 100% 70%, auto 20%, 20%;
  background-position: bottom, top center, bottom center;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
#intro .human-jobs {
  background: url("../img/blurs.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
#intro .human-jobs .keen-slider__slide .content {
  background: url("../img/job_content_dots.png") no-repeat top left;
}

@media screen and (max-width: 768px) {
  #welcome .intro-text {
    padding-top: 3rem !important;
  }
  .arrow {
    display: none;
  }
  .page-scroll {
    font-size: 18px !important;
  }
  .page-title h2,
  .page-title .close {
    font-weight: 600;
    font-size: 24px;
    line-height: 158%;
    letter-spacing: -0.4px;
  }
  form .form-group {
    margin-bottom: 1rem !important;
  }
  #about img {
    margin: 50px 0;
  }
  #menu {
    padding: 0.5rem 0;
    height: 4rem;
  }
  #login .password span {
    font-size: 1rem !important;
  }
  #register {
    height: auto !important;
    margin-top: 4rem !important;
  }
  #register .page-title {
    margin-bottom: 1rem !important;
  }
  #welcome,
  #profile {
    margin-top: 4rem !important;
    height: auto !important;
  }
  #subscribe {
    height: auto !important;
  }
  #subscribe p,
  #subscribe h1 {
    text-align: center !important;
  }
  #subscribe .form-control {
    width: 100%!important;
    margin: auto;
  }
}

@media (max-width: 960px) {
  #subscribe .form-control {
    width: 400px;
    margin: auto;
  }
  #subscribe .form-control.btn-custom {
    width: 12rem!important;
  }
}

@media (max-width: 1240px) {
  #subscribe .form-control {
    width: 100%;
  }
  #subscribe .form-control.btn-custom {
    // width: 12rem!important;
    max-width: 176px;
  }
  #subscribe .image-container {
    padding: 0;
  }
}

@media (min-width: 1800px) {
  #welcome {
    max-height: 656px;
    margin-top: 72px;
  }
  #job {
    max-height: 800px;
    padding: 88px 0;
  }
  #subscribe {
    max-height: 656px;
  }
}
