.referral-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .item {
        margin-bottom: 10px;
    }
    .referral-code-card {
        width: 100%;
        text-align: center;
        margin: 30px 5px 30px 5px;
    }
}