#profile {
    max-width: 400px;
    margin: auto;
    .container {
        p {
            font-size: 16px;
            line-height: 200%;
            letter-spacing: 0.2px;
            text-align: left!important;
        }
        a {
            color: #6309FF;
            font-size: 16px;
            line-height: 200%;
            letter-spacing: 0.2px;
        }
        .dropdown {
            .dropdown-toggle {
                color: #0a060e;
                background-color: white!important;
                display: flex;
                justify-content: space-between;
                .fa {
                    font-size: 26px;
                }
            }
            .dropdown-menu {
                a {
                    color: #0a060e;
                }
                &.show {
                    height: 300px;
                    overflow: auto;
                }
            }
        }
        .actions {
            .btn {
                width: 50%;
                max-width: 160px;
                font-size: 16px;
                letter-spacing: 0.2px;
            }
            a {
                width: 40%;
                background: #FFFFFF;
                border: 1px solid #6309FF;
                border-radius: 10px;;
            }
        }
    }
}