#profile {
    max-width: 400px;
    margin: auto;
    margin-top: 4rem !important;
    .container {
        p {
            font-size: 16px;
            line-height: 200%;
            letter-spacing: 0.2px
        }
        a {
            color: #6309FF;
            font-size: 16px;
            line-height: 200%;
            letter-spacing: 0.2px;
        }
        .actions {
            .btn {
                width: 50%;
                max-width: 160px;
                font-size: 16px;
                letter-spacing: 0.2px;
            }
            a {
                width: 40%;
                background: #FFFFFF;
                border: 1px solid #6309FF;
                border-radius: 10px;;
            }
        }
    }
}