#welcome {
    .intro-text {
        h1 {
            font-size: 2.5rem;
            line-height: 224%;
            font-style: normal;
            font-family: 'Alliance No.1 ExtraBold'!important;
            font-weight: 800;
            margin-top: 0;
            letter-spacing: -0.4px;
        }
        p {
            max-width: 504px;
        }
    }
}
#welcome .form-control {
    height: 3rem;
    border-radius: 0.5rem;
    font-family: 'Alliance No.1';
    letter-spacing: 0.3px;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 2rem;
}
#welcome input {
    width: 24rem;
}
#welcome .form-control.btn {
    background: #6309FF;
    border: 0;
    padding: 0.5rem 3rem;
}
#hcaptcha .btn {
    width: 50%;
}
#referal .btn:active {
    background-color: #6309FF;
    opacity: 0.8;
}
#referal .btn i {
    float: right;
    margin-top: 0.25em;
}
#questions {
    width: 400px;
}
#questions .form-label {
    font-family: 'Alliance No.1';
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.2px;
}
#questions .dropdown .dropdown-toggle{
    color: #212529;
}
#questions .dropdown .dropdown-toggle .fa {
    float: right;
    font-size: 2em;
}
#questions .dropdown .dropdown-toggle:hover,
#questions .dropdown .dropdown-toggle:focus,
#questions .dropdown .dropdown-toggle:visited,
#questions .dropdown .dropdown-toggle:active:focus,
#questions .dropdown .dropdown-toggle:active {
    background-color: #fff!important;
}
#qeustions a {
    font-size: 1rem;
}
#questions select:focus>option:focus:hover {
    background-color: #6309FF;
    color: #fff;
}
#questions .radio .form-label {
    font-size: 1rem;
}
#questions button {
    background-color: #6309FF;
    opacity: 0.8;
}
#job {
    .section-option {
        font-family: "Alliance No.1";
        .title {
            font-size: 2rem;
            font-weight: 600;
            max-width: 288px;
            margin-left: auto;
        }
    }
}
#subscribe {
    .container {
        width: 80%;
        h1 {
          line-height: 128%;
        }
        h2 {
          color: #fff;
          margin-top: 10px;
          margin-bottom: 15px;
          padding-bottom: 15px;
        }
        h3 {
          color: #fff;
          margin-top: 80px;
          margin-bottom: 25px;
          padding-bottom: 20px;
          font-weight: 400;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 1.125rem;
          line-height: 2rem;
          letter-spacing: 0.1px;
        }
        input {
            border: none;
            box-shadow: rgba(99, 9, 255, 0.2) 0px 8px 16px;
            border-radius: 10px;
            &::placeholder {
                color: #6309FF;
            }
        }
        .section-title {
            margin-bottom: 40px;
            h2 {
              ::after {
                position: absolute;
                content: "";
                background: rgba(255, 255, 255, 0.3);
                height: 4px;
                width: 60px;
                bottom: 0;
                left: 30px;
              }
            }
            p {
              font-size: 1rem;
            }
        }
        .text-danger {
            color: #cc0033;
            text-align: left;
        }
        .btn-custom {
            width: 12rem!important;
            margin-left: auto;
            :hover {
                opacity: 0.8 !important;
            }
        }
        .image-container {
            padding-left: 5rem;
            img {
                width: 100%;
            }
        }
        .contact-item {
            margin: 20px 0;
            span {
              color: rgba(255, 255, 255, 1);
              margin-bottom: 10px;
              display: block;
            }
            i.fa {
              margin-right: 10px;
            }
          }
        .form-group {
            input {
                &.form-control {
                    margin-right: 5%;
                }
            }

            button {
                &.btn-custom {
                    max-width: 176px;
                    width: 12rem!important;
                    margin-left: auto;
                    :hover {
                        opacity: 0.8 !important;
                    }
                }
            }
        }
        .social {
            border-top: 1px solid rgba(255, 255, 255, 0.15);
            margin-top: 2%x;
            text-align: left;
            display: flex;
            .social-icon {
                margin-right: 4.5%;
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 40px;
                color: #0A060E;
                cursor: pointer;
                .fa-telegram {
                    font-size: 35px;
                    margin: 3px 0;
                }
                &.icon-twitter,
                &.icon-linkedin {
                    margin-right: 4.5%;
                    border: 2px white solid;
                    border-radius: 50%;
                    background-color: #0A060E;
                    padding: 6px 0;
                    font-size: 24px;
                    color: white;
                    .fa-linkedin {
                        font-size: 22px;
                    }
                }
            }
            .btn-primary {
                color: #0A060E;
                border: 0;
                background-color: none;
                i {
                    &.fa {
                        font-size: 22px;
                        width: 48px;
                        height: 48px;
                        padding: 12px 0;
                        border: 2px solid #fff;
                        color: #fff;
                        border-radius: 50%;
                        transition: all 0.3s;
                        &:hover {
                            color: #608dfd;
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1800px) {
    #welcome input {
        max-width: 24rem;
    }
    #referal {
        width: 25rem;
    }
}

@media only screen and (max-width: 960px) {
    #subscribe {
        .container {
            .form-group {
                display: block!important;
                .form-control {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #welcome .earning-container {
        display: block;
    }
    #welcome .earning-container .form-group {
        width: 400px;
        margin: 1rem auto!important;
    }
    #welcome .earning-container .form-group .form-control {
        width: 100%;
    }
    #job div.section-option {
        text-align: left!important;
        ul {
            display: flex;
            justify-content: space-between;
        }
    }
    #subscribe {
        .container {
            .form-group {
                display: flex!important;
            }
            .image-container {
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    #welcome .earning-container .form-group {
        width: 80%;
    }
}