#welcome .form-control {
    height: 3rem;
    border-radius: 0.5rem;
    font-family: 'Alliance No.1';
    letter-spacing: 0.3px;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 2rem;
}
#welcome input {
    width: 24rem;
}
#welcome .form-control.btn {
    background: #6309FF;
    border: 0;
    padding: 0.5rem 3rem;
}
#referal .btn:active {
    background-color: #6309FF;
    opacity: 0.8;
}
#referal .btn i {
    float: right;
    margin-top: 0.25em;
}
#questions {
    width: 400px;
}
#questions .form-label {
    font-family: 'Alliance No.1';
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.2px;
}
#questions .dropdown .dropdown-toggle{
    color: #212529;
}
#questions .dropdown .dropdown-toggle .fa {
    float: right;
    font-size: 2em;
}
#questions .dropdown .dropdown-toggle:hover,
#questions .dropdown .dropdown-toggle:focus,
#questions .dropdown .dropdown-toggle:visited,
#questions .dropdown .dropdown-toggle:active:focus,
#questions .dropdown .dropdown-toggle:active {
    background-color: #fff!important;
}
#qeustions a {
    font-size: 1rem;
}
#questions select:focus>option:focus:hover {
    background-color: #6309FF;
    color: #fff;
}
#questions .radio .form-label {
    font-size: 1rem;
}
#questions button {
    background-color: #6309FF;
    opacity: 0.8;
}
@media (min-width: 1800px) {
    #welcome input {
        max-width: 24rem;
    }
    #referal {
        width: 25rem;
    }
}

@media only screen and (max-width: 768px) {
    #welcome .earning-container {
        display: block;
    }
    #welcome .earning-container .form-group {
        width: 400px;
        margin: 1rem auto!important;
    }
    #welcome .earning-container .form-group .form-control {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    #welcome .earning-container .form-group {
        width: 80%;
    } 
}