/* Navigation */
#modal__withdraw {
    .modal-content {
        background: linear-gradient(359.93deg, #FFFFFF 10.95%, #FCFBFF 121.59%);
        border: 1px solid #EEEEEE;
        box-shadow: 0px 23px 35px -12px rgba(31, 6, 87, 0.08);
        border-radius: 10px;
        padding: 2rem;
        max-width: 480px;
        .modal-header {
            .modal-title {
                font-size: 24px;
            }
        }
        .modal-body {
            .actions {
                .btn {
                    width: 50%;
                    max-width: 160px;
                    font-size: 16px;
                    letter-spacing: 0.2px;
                }
            }
        }
    }
    .hcaptcha-container {
        display: flex;
        align-items: center;
    }
}
