.hcaptcha-labeling-container {
    .labeling-item {
        margin-bottom: 20px;
    }
    .hcaptcha-labeling-widget {
        padding-left: 30px;
    }
}

.hcaptcha-labeling-stats {
    .stats-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
}