/* Navigation */
#modal__signup-interest {
    .modal-content {
        background: linear-gradient(359.93deg, #FFFFFF 10.95%, #FCFBFF 121.59%);
        border: 1px solid #EEEEEE;
        box-shadow: 0px 23px 35px -12px rgba(31, 6, 87, 0.08);
        border-radius: 10px;
        padding: 2rem;
        max-width: 480px;
        .modal-header {
            .modal-title {
                font-size: 24px;
            }
        }
    }
    .hcaptcha-container {
        display: flex;
        justify-content: center;
    }
}
