/* Civic button styles, include all CSS below */
.civic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  line-height: 34px;
  padding: 0 20px;
  min-width: 220px;
  border-radius: 18px;
  background-color: #2e4d6d;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: all 0.2s ease;
}
.civic-button:hover {
  background-color: #262c4f;
}
.civic-button svg {
  margin-right: 4px;
  transition: all 0.225s ease;
}
.civic-button-white {
  color: #000000;
  background-color: #ffffff;
}
.civic-button-white:hover {
  background-color: #ffffff;
}
.civic-button-black-text {
  color: #202121;
}
.civic-button-black-text:hover,
.civic-button-white:hover {
  color: rgb(255, 255, 255);
  border-color: #202121;
}
.civic-button-black-text:hover svg,
.civic-button-white:hover svg {
  fill: #202121;
}