#intro .human-about .keen-slider__slide .image {
  padding-left: 3rem;
}
#intro .human-jobs .keen-slider__slide .image {
  // padding-right: 3rem;
}
#intro .keen-slider__slide .image img {
  width: 100%;
}
#intro {
  .container {
    .slider-container {
      width: 100%;
    }
  }
}
#intro .human-about {
  background-color: #1f0657;
  padding: 5% 0;
  .container {
    width: 80%;
    max-width: none;
    
    .slider-container {
      .content {
        max-width: 32rem;
        margin-left: auto;
        // justify-content: left!important;
        .title {
          background: #1f0657;
        }
      }
      .image {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

#intro .human-jobs {
  padding: 10% 0 5%;
  .container {
    width: 80%;
    max-width: none;
    .dot {
      background-color: #6309ff;
    }
    .content {
      padding-top: 10%;
      padding-left: 10%;
      display: block!important;
      .title {
        max-width: 22rem;
        margin-bottom: 10%;
      }
    }
  }
}

#intro .human-about h1,
#intro .human-about h3,
#intro .human-about p {
  color: white;
}
#intro .human-about h1.title.text-center {
  font-family: Alliance No.1;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.4px;
  background-color: #1f0657;
}
#intro .human-about h1.title.text-center .highlight {
  color: #6309ff;
  text-transform: uppercase;
}
#intro h3 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 280%;
  align-items: center;
  letter-spacing: -0.4px;
}
#intro p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 178%;
  letter-spacing: 0.1px;
}
.keen-slider {
  max-height: 100%;
}

@media only screen and (max-width: 768px) {
  #intro .human-about .section {
    background-size: 20%;
  }
  #intro .human-about .keen-slider__slide .content {
    background-size: 40%;
  }
  #intro .human-about .keen-slider__slide .image {
    padding-left: unset !important;
  }
}

@media only screen and (min-width: 600px) {
  #intro .human-about .section {
    background-size: 10%;
  }
}

@media only screen and (max-width: 1240px) {
  #intro .human-jobs .content {
    padding-left: 10%;
  }
}
