#intro > div {
  //   height: 44.45vw;
}
#intro .human-jobs .section {
  height: 60%;
}
#intro .human-about .keen-slider__slide .image {
  padding-left: 3rem;
}
#intro .human-jobs .keen-slider__slide .image {
  padding-right: 3rem;
}
#intro .keen-slider__slide .image img {
  width: 100%;
}
#intro .human-about {
  background-color: #1f0657;
  padding: 5% 0;
}
#intro .human-about .container {
  width: 80%;
  max-width: none;
  .title {
    background: #1f0657;
  }
  .slider-container {
    width: 100%;
    margin-top: 10%;
    .content {
      max-width: 30rem;
    }
    .image {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
#intro .human-jobs .container {
  max-width: 960px;
}
// #intro .content {
//   padding-top: 4rem;
// }
#intro .human-about h1,
#intro .human-about h3,
#intro .human-about p {
  color: white;
}
#intro .human-about h1.title.text-center {
  font-family: Alliance No.1;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.4px;
}
#intro .human-about h1.title.text-center .highlight {
  color: #6309ff;
  text-transform: uppercase;
}
#intro h3 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 280%;
  align-items: center;
  letter-spacing: -0.4px;
}
#intro p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 178%;
  letter-spacing: 0.1px;
}
#intro .human-jobs {
  padding: 5% 0;
}
#intro .human-jobs .content {
  padding-left: 10%;
}

@media (max-width: 1800px) {
  #intro .human-jobs .container {
    height: 800px;
  }
}

.keen-slider {
  max-height: 100%;
}

@media only screen and (max-width: 768px) {
  #intro .human-about .section {
    background-size: 20%;
  }
  #intro .human-about .keen-slider__slide .content {
    background-size: 40%;
  }
  #intro .human-about .keen-slider__slide .image {
    padding-left: unset !important;
  }
}

@media only screen and (min-width: 600px) {
  #intro .human-about .section {
    background-size: 10%;
  }
}

@media only screen and (max-width: 1240px) {
  #intro .human-jobs .content {
    padding-left: 10%;
  }
}
