[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
}

.arrow {
  width: 4rem;
  height: 4rem;
  background: white;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: rgba(10, 6, 14, 0.06) 0px 12px 16px;
  @media screen and (max-width: 1120px) {
    width: 3rem;
    height: 3rem;
  }
  .fa {
    width: 100%;
    height: 100%;
    line-height: 2.6;
    font-size: 1.5rem;
    @media screen and (max-width: 1120px) {
      font-size: 1.5rem;
      line-height: 2;
    }
  }
  &.arrow--left {
    left: -8rem;
    @media screen and (max-width: 1120px) {
      left: -4rem;
    }
  }
  &.arrow--right {
    left: auto;
    right: -8rem;
    @media screen and (max-width: 1120px) {
      right: -4rem;
    }
  }
  &.arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
  }
}

.slider-container {
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    width: 80%;
    margin: auto;
  }
  @media only screen and (min-width: 1120px) {
    width: 70%;
  }
  @media only screen and (min-width: 1400px) {
    width: 960px;
  }
  .navigation-wrapper {
    position: relative;
    .keen-slider__slide {
      .max-height-100 {
        max-height: 100%;
        @media only screen and (max-width: 768px) {
          height: auto!important;
        }
        .content {
          .title {
            font-size: 2.5rem !important;
        
          }
          .subtitle {
            font-size: 1.5vw !important;
          }
          .description {
            font-size: 18px !important;
          }
          @media screen and (max-width: 1120px) {
            .title {
              font-size: 4vw !important;
            }
            .subtitle {
              font-size: 2vw !important;
            }
            .description {
              font-size: 16px !important;
            }
          }
          @media screen and (max-width: 768px) {
            background-size: 40%!important;
            .title {
              font-size: 32px !important;
            }
            .subtitle {
              font-size: 20px !important;
            }
            .description {
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }
  .dots {
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
    .dot {
      border: none;
      width: 5px;
      height: 5px;
      background: #fff;
      border-radius: 50%;
      margin: 0 5px;
      padding: 3px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &.active {
        padding: 5px;
        margin-top: -2px;
      }
    }
  }
}
