.mark {
    background: linear-gradient(219.36deg, #FA2A75 -0.71%, #6309FF 77.47%);
    opacity: 0.5;
    border-radius: 42px;
    padding: 0px 16px;
    width: 130px;
    height: 32px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 12px;
    line-height: 32px;
}